body {
    width: 100vw;
    height: 100vh;
    padding: 0px;
    margin: 0px;
}

#navbar {
    margin: 0px;
    padding: 0px;
    height: 10%;
    text-align: center;
}

a:visited, a:link {
    display: inline-block;
    text-decoration: none;
    background-color:#00ffff;
    width: 15%;
    height: 100%;
    padding: 0px;
    margin: 0px;
}

a:hover{
    background-color: #00ff00;
}